.body{
    background-image: url(https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.mitsubishicarbide.net%2Fcontents%2Fcommon%2Fimages%2Fsolid_end_mills_VFSD_01.jpg&imgrefurl=http%3A%2F%2Fwww.mitsubishicarbide.net%2Fmhg%2Fru%2Fsolid_end_mills%2F10000298%2F&tbnid=QUJTPWJpTHI9ZM&vet=12ahUKEwjg5v-_9sToAhXItSoKHRzSDYsQMygBegUIARDTAQ..i&docid=Wy1vZWN2ex8tIM&w=600&h=300&itg=1&q=vfsd&ved=2ahUKEwjg5v-_9sToAhXItSoKHRzSDYsQMygBegUIARDTAQ);
}
#header{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black;
}
#header  {
  -webkit-flex: 1;
          flex: 1;
}
 #header{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
 }
#header{
    height: auto;
}
.zaholovku{
    color: white;
    font-size: 30px;
}
#pidzaholobok{
     display: -webkit-flex;
     display: flex;
}
article{
    width: 200px;
}

li{
    font-size: 20px;
    font-style: bold;
}
