
#header{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black;
}
#header  {
  -webkit-flex: 1;
          flex: 1;
}
 #header{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
 }
#header{
    height: auto;
}
.zaholovku{
    color: white;
    font-size: 30px;
}
#pidzaholobok{
     display: -webkit-flex;
     display: flex;
}
article{
    width: 200px;
}

li{
    font-size: 20px;
    font-style: bold;
}
.banner{
    background-image: url(../img/fon.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}
