#header{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black
}
#header{
    height: auto;
    width: max;
}
.zaholovku{
    color: white;
    font-size: 30px;
}
#pidzaholobok{
     display: -webkit-flex;
     display: flex;
}
article{
    width: 200px;
}
#fon{
    height: 50px;
}
li{
    font-size: 20px;
    font-style: bold;
}
